NODE_ENV=production
PORT=10000

# Aiven MySQL / Cloud DB configuration
DB_HOST=mysql-1fe8a1ad-webflux111-e1fe.d.aivencloud.com
DB_PORT=13721
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=defaultdb
DB_SSL=true

JWT_SECRET=replace_with_a_long_random_jwt_secret
JWT_EXPIRES_IN=2h
CORS_ORIGIN=https://your-frontend.vercel.app,http://localhost:5173

